{% extends 'base/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<title>{% block title%}Richiedi permesso{% endblock %}</title>

<script src="{% static 'base/js/jquery.js' %}"></script>
<script src="{% static 'users/js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">

<section id="styler-navbar" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:210px;">
    <header class="p-3 bg-light text-black">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 text-dark"></li>            
            <li class="nav-link px-2 text-dark">Stati modificando l'entrate di <strong>{{object.nominativo|title}}</strong></li> 
        </ul>
        
    </div>
    </header>
</section>
    
<section class="right-side-element">
    
<div class="card-richiesta-permesso">
  <form class="" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" class="btn btn-success" class="wrap" value="Modifica">
</form>
</div>
</div>

</section>
{% endblock %}
