{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<title>{% block title%}Entrate - Uscite{% endblock %}</title>
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
<script src="{% static 'reception/js/script.js' %}"></script>


<section id="styler-navbar" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:210px;">
    <header class="p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if errore == "Errore" %}
            <div class="container d-flex justify-content-center alert alert-danger">
            <h1>QR errato.</h1>
            </div>
            {% elif entrato == "entrato" %}
            <div class="container d-flex justify-content-center alert alert-success">
            <h1>Buon lavoro, {{dip.nome|title}}</h1>
            </div>
            {% elif seconda_entrata == "seconda_entrata" %}
            <div class="container d-flex justify-content-center alert alert-success">
            <h1>Bentornato/a, {{dip.nome|title}}</h1>
            </div>
            {% elif uscito == "uscito" %}
            <div class="container d-flex justify-content-center alert alert-success">
            <h1>Arrivederci, {{dip.nome|title}}</h1>
            </div>
            {% elif primaUscita == "primaUscita" %}
            <div class="container d-flex justify-content-center alert alert-success">
            <h1>A più tardi, {{dip.nome|title}}</h1>
            </div>
            {% elif secondaUscita == "secondaUscita" %}
            <div class="container d-flex justify-content-center alert alert-success">
            <h1>Arrivederci, {{dip.nome|title}}</h1>
            </div>
            {% elif registratoEntrata == "registrato-entrata" %}
            <div class="container d-flex justify-content-center alert alert-warning">
            <h1>Entrata già registrata.</h1>
            </div>
            {% elif registratoUscita == "registrato-uscita" %}
            <div class="container d-flex justify-content-center alert alert-warning">
            <h1>Uscita già registrata.</h1>
            </div>
            {% elif nonEntrato == "non-entrato" %}
            <div class="container d-flex justify-content-center alert alert-danger">
            <h1>Stai tentanto di uscire ma la tua entrata non è stata registrata, contatta la reception per segnare la tua entrata ed uscita.</h1>
            </div>
            {% endif %}
            </div>
            <li class="nav-link px-2 text-dark"></li>
        </ul>
    </header>
</section>

<section style="margin-top:50px; margin-left:280px; float:right;">
    <div class="cartaBox-table-reception-datatables-big">
        <div class="carta-table-reception-datatables-big">
            <div>
                <div class="numbers"></div>
                <div class="cartaName">Registra la tua entrata ed uscita</div>
                <form method="POST" id="myform">
                    {% csrf_token %}
                    <h1> SCANNERIZZA IL TUO QR </h1>
                    <input style="height:3em; width:29em; align-items: center;" class="form-control" type="text" name="qr" id="qr">
                    <input hidden class="button-reception-search" type="submit" value="Cerca">
                </form>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            </div>
        </a>
        </div>

</section>


<script>

$(document).ready(function() {
    $('#qr').focus(); // Focus on input field on page load
    
    $('body').click(function() { // Focus on input field on body click
        $('#qr').focus();
    });
    });

</script>

{% endblock %}
