{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<title>{% block title%}Presenze{% endblock %}</title>
<script src="{% static 'reception/js/script.js' %}"></script>
<script src="{% static 'base/js/datatables.js' %}"></script>
<link rel="stylesheet" href="{% static 'base/css/datatables.css' %}">
<link rel="stylesheet" href="{% static 'reception/css/style.css' %}">

<section style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:268px;">
    <header class="p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 text-dark"></li>
            <li class="nav-link px-2 text-dark"><strong>{{totale_entrate}}</strong> Badgiati </li>
            <li class="nav-link px-2 text-dark"><strong>{{totale_uscite}}</strong> Usciti </li>
            <li class="nav-link px-2 text-dark"><strong>{{totale_assenze}}</strong> Assenti </li>
            <li class="nav-link px-2 text-dark"><strong>{{totale_permessi}}</strong> In Permesso </li>
            <!-- <li><a href="#" class="nav-link px-2 text-dark"><strong>{{totale_ferie}}</strong> In Ferie </a></li> -->
        </ul>
        <form method="post" action="{% url 'reception:presenze' %}" id="reception-form-cerca" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          {% csrf_token %}
          <input type="search" name="dipendente" class="form-control form-control-dark" id="reception-button-dipendente" placeholder="Dipendente" aria-label="Dipendente" value={{dipendente}}>
        </form>
        <button type="submit" name="dipendente" id="button-cerca-dipendente" class="btn btn-success" onclick="submitFormDipendente()">Cerca</button>
        <div class="text-end" style="margin-right:15px; margin-left:15px;">Filtra per dipendente</div>
        <div class="text-end" style="margin-right:15px;">
          <button type="button" name="precedente" id="reception-button-precedente" class="btn btn-warning" onclick="submitFormPrecedente()">Precedente</button>
        </div>
        <form method="post" action="{% url 'reception:presenze' %}" id="reception-form-giorno" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          {% csrf_token %}
          <input type="date" name="giorno" id="giorno" class="form-control form-control-dark" placeholder="Giorno..." aria-label="Giorno" value="{{data|date:'Y-m-d'}}">
        </form>
        <div class="text-end">
          <button type="button" name="cerca-giorno" id="reception-button-giorno" class="btn btn-outline-dark me-2" onclick="submitFormGiorno()">Cerca</button>
          <button type="button" name="successivo" id="reception-button-successivo" class="btn btn-warning" onclick="submitFormSuccessivo()">Successivo</button>
        </div>
    </header>
  
</section>

<section style="margin-left:300px; margin-top:25px;">
    <div class="cartaBox-table-reception-datatables">

            <div class="carta-table-reception-datatables">
                <div>
                    <div class="numbers">{{totale_entrate}} / {{presenze|length}}</div>
                    <div class="no-hover">
                      <table class="table table-striped table-hover caption-top">
                        <caption>Lista Presenze <strong>{{data|date:'d-m-Y'}}</strong></caption>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <td> Dipendente </td>
                            <td> Stato </td>
                            <td> Sede </td>
                            <td> Area </td>
                            <td> Tipo Contratto </td>
                            <td> Entrata </td>
                            <td> Uscita </td>
                            <td> Straordinario/Anticipo </td>
                            <td> Straordinari </td>
                        </tr>
                        </thead>
                        <tbody>
                            {% for dipendente in presenze %}
                            <tr>
                              <th scope="col">
                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mouse-fill" viewBox="0 0 16 16">
                                            <path d="M3 5a5 5 0 0 1 10 0v6a5 5 0 0 1-10 0V5zm5.5-1.5a.5.5 0 0 0-1 0v2a.5.5 0 0 0 1 0v-2z"/>
                                          </svg>
                                    </a>
                                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                        <li><a class="dropdown-item" onclick="open_modal_modifica_ingresso('{% url 'reception:crea-ingresso' dipendente.id_ingresso %}')">Modifica in Modal</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'reception:crea-ingresso2' dipendente.id_ingresso %}" target="_blank">Apri in nuova pagina</a></li>
                                    </ul>
                                </div>
                              </th>
                              <td>{{dipendente.nominativo}}</td>
                              <td></td>
                              <td>{{dipendente.id_dip_ing.sede.nome_sede|title}}</td>
                              <td>{{dipendente.id_dip_ing.area.nome_area|title}}</td>
                              <td>{{dipendente.id_dip_ing.tipo_contratto.nome_contratto|title}}</td>
                              <td>{% if dipendente.entrata %} {{dipendente.entrata|time:"H:i"}} {% else %} -- {% endif %}</td>
                              <td>{% if dipendente.seconda_uscita != none %} {{dipendente.seconda_uscita}} {% elif dipendente.uscita %} {{dipendente.uscita|time:"H:i"}}  {% else %} -- {% endif %} </td>
                              <td>{% if dipendente.ritardo %} -{{dipendente.ritardo}} {% elif dipendente.anticipo %} +{{dipendente.anticipo}} {% else %} 0 {% endif %}</td>
                              <td>{% if dipendente.straordinario %} {{dipendente.straordinario}} {% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="iconBox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z"/>
                    </svg>
                </div>
                </a>
            </div>
    </div>    
</section>

<div class="modal fade" id="modificaIngresso" role="dialog" tabindex="-1">
</div>

<script>
    var $ = jQuery.noConflict();
function open_modal_modifica_ingresso(url){
    $('#modificaIngresso').load(url,function(){
    $(this).modal('show'); 
    });
};
</script>


{% endblock content %}
