{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<title>{% block title%}Tutte le richieste{% endblock %}</title>
<link rel="stylesheet" href="{% static 'capi_area/css/style.css' %}">


<section style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:268px;">
  <header class="p-3 bg-light text-black">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-link px-2 text-dark"></li>
          <li class="nav-link px-2 text-dark"><strong>{{daRevisionare}}</strong> Da Revisionare </li>
          <li class="nav-link px-2 text-dark"><strong>{{accettate}}</strong> Accettate </li>
          <li class="nav-link px-2 text-dark"><strong>{{rifiutate}}</strong> Rifiutate </li>
          <!-- <li><a href="#" class="nav-link px-2 text-dark"><strong>{{totale_ferie}}</strong> In Ferie </a></li> -->
      </ul>
      <form method="post" action="{% url 'capi_area:richieste' %}" id="richieste-capi-area" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        {% csrf_token %}
        <input type="search" name="dipendente" class="form-control form-control-dark" placeholder="Dipendente" aria-label="Dipendente">
      </form>
      <div class="text-end" style="margin-right:15px; margin-left:15px;">Filtra per dipendente</div>
      <form method="post" action="{% url 'capi_area:richieste' %}" id="reception-form-cerca">
        {% csrf_token %}
        <button type="input" name="daRevisionare" value="daRevisionare" id="reception-button-successivo" class="btn btn-secondary">Da Revisionare</button>
      </div>
      <div class="text-end"></div>
      <form method="post" action="{% url 'capi_area:richieste' %}" id="reception-form-cerca">
        {% csrf_token %}
        <button type="input" name="accettate" value="accettate" id="reception-button-successivo" class="btn btn-primary">Accettate</button>
      </div>
      <form method="post" action="{% url 'capi_area:richieste' %}" id="reception-form-cerca">
        {% csrf_token %}  
      <button type="input" name="rifiutate" value="rifiutate" id="reception-button-successivo" class="btn btn-danger">Rifiutate</button>
      </div>
    </div>
    </header>

</section>

<section style="margin-left:300px; margin-top:25px;">
    <div class="cartaBox-table-reception-capi-area">
  
            <div class="carta-table-reception-capi-area">
                <div>
                    <div class="numbers">{{richieste|length}}</div>
                    <div class="no-hover">
                    <table class="table table-striped table-hover caption-top">
                      <caption>Lista Richieste Area: {{area}}</caption>
                        <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Dipendente</th>
                          <th scope="col">Permesso</th>
                          <th scope="col">Inizio</th>
                          <th scope="col">Ritorno</th>
                          <th scope="col">Orario</th>
                          <th scope="col">Urgente</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for richiesta in richieste %}
                            <tr>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-plus-square-fill"></i>
                                        </a>
                                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                      <li><a class="dropdown-item" onclick="gestisciRichiestaModal('{% url 'capi_area:gestisci-richiesta' richiesta.pk %}')">Gestisci</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                        </ul>
                                    </div>
                                </th>
                              <td>{{richiesta.nominativo}}</td>
                              <td> <div {% if richiesta.id_permessi_richieste.id_permesso == 2 %} class="stato maternita text-center" style="color:white;" {% elif richiesta.id_permessi_richieste.id_permesso == 13 %} class="stato malattia text-center" style="color:white;"{% elif richiesta.id_permessi_richieste.id_permesso == 6 %} class="stato ferie text-center" style="color:white;" {% elif richiesta.id_permessi_richieste.id_permesso != 6 %} class="stato permesso text-center" style="color:white;" {% endif %}> {% if richiesta.id_permessi_richieste %} {{richiesta.id_permessi_richieste.codicepermesso|title}} {% else %} Permesso Orario {% endif %}</div></td>
                              <td>{{richiesta.da_giorno_richiesta|date:"j N Y"}}</td>
                              <td>{{richiesta.a_giorno_richiesta|date:"j N Y"}}</td>
                              <td>{% if richiesta.da_ora_richiesta %}{{richiesta.da_ora_richiesta}} ~ {{richiesta.a_ora_richiesta}}{% endif %}</td>
                              <td>{% if richiesta.id_richieste.urgente %} Si {% else %} No {% endif %}</td>
                              {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="iconBox">
                  <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                </svg>
                </div>
                </a>
            </div>
    </div>    
  </section>

<div class="modal fade" id="gestisciRichiestaModal" role="dialog" tabindex="-1"></div>

<script>
    var $ = jQuery.noConflict();
function gestisciRichiestaModal(url){
    $('#gestisciRichiestaModal').load(url,function(){
    $(this).modal('show'); 
    });
};

</script>

{% endblock %}
