{% extends "base/main.html" %}

{% load static %}

{% block content %}

<title>{% block title%}Cambia Password{% endblock %}</title>

<link rel="stylesheet" href="{% static 'users/css/style.css' %}">

<div class="container-login">
    <div class="header-bar2">
    <div>
        <a class="white-style" href="{% url 'users:dashboard' %}">&#8592; Torna indietro</a>
        <h1>Cambia password</h1>
        <a class="white-style" href="{% url 'reset_password' %}">Resetta la password &#8594;</a>
    </div>
    </div>
    
    <div class="card-body">
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input class="button" type="submit" value="Cambia">
    </form>
    </div>
    </div>

    {% endblock content %}
