{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<title>{% block title%}Tutte le richieste{% endblock %}</title>
<link rel="stylesheet" href="{% static 'capi_area/css/style.css' %}">
<script src="{% static 'capi_area/js/script.js' %}"></script>
<link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" crossorigin="anonymous">


<section id="styler-navbar" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:210px;">
  <header class="p-3 bg-light text-black">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-link px-2 text-dark"></li>
          <li class="nav-link px-2 text-dark"><strong>{{daRevisionare}}</strong> Da Revisionare </li>
          <li class="nav-link px-2 text-dark"><strong>{{accettate}}</strong> Accettate </li>
          <li class="nav-link px-2 text-dark"><strong>{{rifiutate}}</strong> Rifiutate </li>
          <!-- <li><a href="#" class="nav-link px-2 text-dark"><strong>{{totale_ferie}}</strong> In Ferie </a></li> -->
      </ul>

      <form method="post" action="{% url 'users:mie-richieste-trasferte' %}" id="reception-form-cerca">
        {% csrf_token %}
        <button type="input" name="daRevisionare" value="daRevisionare" id="reception-button-successivo" class="btn btn-secondary">Da Revisionare</button>
      </form>
      <form method="post" action="{% url 'users:mie-richieste-trasferte' %}" id="reception-form-cerca">
        {% csrf_token %}
        <button type="input" name="accettate" value="accettate" id="reception-button-successivo" class="btn btn-success">Accettate</button>
      </form>
      <form method="post" action="{% url 'users:mie-richieste-trasferte' %}" id="reception-form-cerca">
        {% csrf_token %}  
      <button type="input" name="rifiutate" value="rifiutate" id="reception-button-successivo" class="btn btn-danger">Rifiutate</button>
      </form>
    </div>
    </header>

</section>

<section style="margin-left:300px; margin-top:25px;">
    <div class="cartaBox-table-reception-capi-area">
  
            <div class="carta-table-reception-capi-area">
                <div>
                    <div class="numbers">{{richieste|length}}</div>
                    <div class="no-hover">
                    <table class="table table-striped table-hover caption-top" id="table-richieste">
                      <caption>Lista Trasferte</caption>
                        <thead>
                        <tr>
                          <th>Giorno</th>
                          <th>Stato</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for richiesta in richieste %}
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                  <span>{{richiesta.rel_giorno|date:"j N Y"}}&nbsp;</span>
                                  <span>  
                                    <div class="dropdown">
                                      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mouse-fill" viewBox="0 0 16 16">
                                              <path d="M3 5a5 5 0 0 1 10 0v6a5 5 0 0 1-10 0V5zm5.5-1.5a.5.5 0 0 0-1 0v2a.5.5 0 0 0 1 0v-2z"/>
                                          </svg>
                                      </a>
                                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                        <li><a class="dropdown-item" onclick="modificaRichiestaTrasfertaModal('{% url 'users:richiesta-trasferta-modifica' richiesta.id_trasferte %}')">Modifica</a></li>
                                        <li><a class="dropdown-item" onclick="annullaRichiestaTrasfertaModal('{% url 'users:richiesta-trasferta-annulla' richiesta.id_trasferte %}')">Annulla</a></li>
                                      </ul>
                                      </div>
                                  </div>
                                </span>
                              </div>
                              </td>
                              <td><div {% if richiesta.stato == 0 %} class="stato attesa text-center" style="color: white;" {% elif richiesta.stato == 1 %}  class="stato attivo text-center" style="color: white;" {% elif richiesta.stato == 2 %} class="stato assente text-center" style="color: white;" {% endif %}> {% if richiesta.stato == 0 %} Da revisionare {% elif richiesta.stato == 1 %}  Accettata {% elif richiesta.stato == 2 %} Rifiutata {% endif %}</div></td>
                              {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Giorno</th>
                            <th>Stato</th>
                          </tr>
                          </tfoot>
                    </table>
                </div>
                </div>
                <div class="iconBox">
                  <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                </svg>
                </div>
                </a>
            </div>
    </div>    
  </section>

<div class="modal fade" id="modificaRichiestaTrasfertaModal" role="dialog" tabindex="-1"></div>

<div class="modal fade" id="annullaRichiestaTrasfertaModal" role="dialog" tabindex="-1"></div>

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.2/af-2.5.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/cr-1.6.1/date-1.3.0/fc-4.2.1/fh-3.3.1/kt-2.8.1/r-2.4.0/rg-1.3.0/rr-1.3.2/sc-2.1.0/sb-1.4.0/sp-2.1.1/sr-1.2.1/datatables.min.js"></script>
    

<script>
    var $ = jQuery.noConflict();
function modificaRichiestaTrasfertaModal(url){
    $('#modificaRichiestaTrasfertaModal').load(url,function(){
    $(this).modal('show'); 
    });
};

    var $ = jQuery.noConflict();
function annullaRichiestaTrasfertaModal(url){
    $('#annullaRichiestaTrasfertaModal').load(url,function(){
    $(this).modal('show'); 
    });
};


$(document).ready(function () {
  // Setup - add a text input to each footer cell
  $('#table-richieste thead tr')
      .clone(true)
      .addClass('filters')
      .appendTo('#table-richieste thead');
  
  var table = $('#table-richieste').DataTable({
      orderCellsTop: true,
      fixedHeader: true,
      dom: 'Bfrtip',
      buttons: [
      {
          extend: 'copy',
          className: 'btn btn-secondary',
          text: 'Copia'
      },
      {
          extend: 'excel',
          className: 'btn btn-success',
          text: 'Excel'
      },
      {
          extend: 'pdfHtml5',
          className: 'btn btn-danger',
          text: 'PDF',
          orientation: 'landscape',
          pageSize: 'A3',
          exportOptions: {
          columns: ':visible'
          },
          customize: function(doc) {
              doc.content.forEach(function(item) {
              if (item.text) {
              item.text[0].fontSize = 8 // Set the font size to 8pt
              }
          });
          }
      },
  ],
      initComplete: function () {
          var api = this.api();
  
          // For each column
          api
              .columns()
              .eq(0)
              .each(function (colIdx) {
                  // Set the header cell to contain the input element
                  var cell = $('.filters th').eq(
                      $(api.column(colIdx).header()).index()
                  );
                  var title = $(cell).text();
                  $(cell).html('<input type="text" placeholder="' + title + '" />');
  
                  // On every keypress in this input
                  $(
                      'input',
                      $('.filters th').eq($(api.column(colIdx).header()).index())
                  )
                      .off('keyup change')
                      .on('change', function (e) {
                          // Get the search value
                          $(this).attr('title', $(this).val());
                          var regexr = '({search})'; //$(this).parents('th').find('select').val();
  
                          var cursorPosition = this.selectionStart;
                          // Search the column for that value
                          api
                              .column(colIdx)
                              .search(
                                  this.value != ''
                                      ? regexr.replace('{search}', '(((' + this.value + ')))')
                                      : '',
                                  this.value != '',
                                  this.value == ''
                              )
                              .draw();
                      })
                      .on('keyup', function (e) {
                          e.stopPropagation();
  
                          $(this).trigger('change');
                          $(this)
                              .focus()[0]
                              .setSelectionRange(cursorPosition, cursorPosition);
                      });
              });
      },
  });
});


</script>

{% endblock %}
