.delete-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 0;
    float:right;
}

.arrow-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 0;
}

#search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.small-tag {
    margin-right: 250px;
}
.button-gestione {
    border: 1px solid #FAFAFA;
    background-color: #1f94d9;
    color: #FAFAFA;
    padding: 10px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size:solid;
}
.header-bar2b {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 10px;
    border-radius: 0px 0px 5px 5px ;
    background: linear-gradient(90deg, #34373e 0%, #5c6580 43%, #020024 100%);
  }
.mini-container{
    float:right;
}
.mini-header-bar {
    display:inline-flex;
    color: #FFF;
    padding: 1em;
    border-radius: 5px 5px 0 0 ;
    background: linear-gradient(90deg, #34373e 0%, #5c6580 43%, #020024 100%);
    min-width: 256px;
    width: 100%;
    }
.maxi-container{
    overflow:auto;
}
.small {
    font-size:0.5em;
}
table.dataTable td {
    font-size: 0.8em;
  }
  table.dataTable tr.dtrg-level-0 td {
    font-size: 0.5em;
  }
  table.dataTable th {
    font-size: 0.8em;
  }
  table.dataTable tr.dtrg-level-0 th {
    font-size: 0.8em;
  }
  .task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFF;
    border-top: 1px solid rgb(226,226,226)
}
li a{color:red}
