.tab-filter-container {
    padding: 2rem;
    text-align: center;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 10px 5px 5px #66e0ff;
}

.btn-primary{
color: #ffffff !important;
background: #66e0ff !important;
}

.filter-btn.active {
    background: #66e0ff;
    color: var(--white);
}

.tab-filter-item-container {
    background: var(--white);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 10px 10px 5px #66e0ff ;
}

.filter-btn:hover{
    background: #66e0ff;
    color: var(--white);
}

