.hover-link:hover {
    background-color: #a335ee !important;
    border-radius: 0.4em;
    color: #ffffff !important;
}

.nav-pills > li > a.active {
    color: #ffffff !important;
    background-color: #a335ee !important;
}

.nav-pills > li > a.active:hover {
    color: #ffffff !important;
    background-color: #a335ee !important;
}

.nav-pills > li:hover {
    color: #ffffff !important;
}

.hover-link:hover {
    background-color: #a335ee !important;
    color: #ffffff !important;
    border-radius: 0.4em;
}

a:hover, a:active {
    color: #ffffff !important;
}

.hover-link > li > a{
    color: #ffffff !important;
}

.cartaBox .carta .numbers {
    color: #a335ee;
}

.cartaBox .carta-table .numbers {
    color: #a335ee;
}

.cartaBox .carta-table-reception .numbers {
    color: #a335ee;
}

.cartaBox .carta:hover:not(#child){
    background-color: #a335ee;
    color: #ffffff;
}
.cartaBox-table-reception-datatables  .carta .numbers {
    color: #a335ee;
}

.cartaBox-table-reception-datatables  .carta-table .numbers {
    color: #a335ee;
}

.cartaBox-table-reception-datatables  .carta-table-reception .numbers {
    color: #a335ee;
}

.cartaBox-table-reception-datatables  .carta-table-reception-datatables .numbers {
    color: #a335ee;
}

.cartaBox-table-reception-datatables  .carta:hover:not(#child){
    background-color: #a335ee;
    color: #ffffff;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #ffffff;
    background-color: #a335ee;
}

.dropdown-item:hover{
    color: #ffffff;
    background-color: #a335ee;
}

strong {
    color: #a335ee;
}