<section style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:268px;">
    <header class="p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 text-dark"></li>            
            <li class="nav-link px-2 text-dark">Buon lavoro,  {{ciao}} {{user.first_name}}</li> 
        </ul>

    </header>
</section>