{% load static %}
{% load auth_extras %}

<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <! <![endif]-->

<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="{% static 'base/js/jquery.js' %}"></script>

    <!-- Bootstrap -->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/646f615c1c.js" crossorigin="anonymous"></script>

    <title> PSB | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    {% if user.is_superuser %}
    <link rel="stylesheet" href="{% static 'base/css/admin-style.css' %}">
    {% elif user|in_group:"CapoArea" %}
    <link rel="stylesheet" href="{% static 'base/css/capi-area-style.css' %}">
    {% elif user|in_group:"Gestione_Personale" %}
    <link rel="stylesheet" href="{% static 'base/css/gestione-style.css' %}">
    {% elif user|in_group:"Cancelliere" %}
    <link rel="stylesheet" href="{% static 'base/css/reception-style.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'base/css/regular-style.css' %}">
    {% endif %}
</head>
<body class="d-flex flex-column h-100">

{% include 'base/sidebar.html' %}

<!-- ========  Root Block Content ======== -->


{% block content %}{% endblock content %}

<script>
window.onload = function() {
  var elements = document.getElementsByTagName("*");
  for (var i = 0; i < elements.length; i++) {
    elements[i].style.textDecoration = "none";
  }
  var active = window.location.pathname;
  var path = active.split("/")
  if (path[1] == 'dashboard' ) {
    $("#nav-home").removeClass('active');
    $("#nav-dashboard").addClass('active');
    $("#nav-dashboard").removeClass('link-dark');
    $("#nav-dashboard").addClass('link-light');
    $("#nav-dashboard").attr("aria-current", "page");
  }
  else if (path[1] == 'capi_area' ) {
    $("#nav-home").removeClass('active');
    $("#nav-capi_area").addClass('active');
    $("#nav-capi_area").removeClass('link-dark');
    $("#nav-capi_area").addClass('link-light');
    $("#nav-capi_area").attr("aria-current", "page");
  }
  else if (path[1] == 'reception' ) {
    $("#nav-home").removeClass('active');
    $("#nav-reception").addClass('active');
    $("#nav-reception").removeClass('link-dark');
    $("#nav-reception").addClass('link-light');
    $("#nav-reception").attr("aria-current", "page");
  }
  else if (path[1] == 'gestione' ) {
    $("#nav-home").removeClass('active');
    $("#nav-gestione").addClass('active');
    $("#nav-gestione").removeClass('link-dark');
    $("#nav-gestione").addClass('link-light');
    $("#nav-gestione").attr("aria-current", "page");
  }
  else if (path[1] == 'entrate-qr' ) {
    $("#nav-home").removeClass('active');
    $("#nav-entrate-qr").addClass('active');
    $("#nav-entrate-qr").removeClass('link-dark');
    $("#nav-entrate-qr").addClass('link-light');
    $("#nav-entrate-qr").attr("aria-current", "page");
  }
  else {
    $("#nav-home").addClass('active')
  };
};

$(document).ready(function() {
  $(".ellipsis").each(function() {
    var text = $(this).text();
    if ( text ) {
    var limit = 20;
    var trimmedText = text.substr(0, limit);
    $(this).text(trimmedText + "...");
  }
  });
});

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

$(document).ready(function() {
  // Add event listener to the toggle button
  $("#sidebarToggle").click(function() {
    // Toggle the "hidden" class on the sidebar
    $("#sidebarnav").toggleClass("fifty-px");
    var marginLeft = $('#styler-navbar').css('margin-left');

    if (marginLeft == '210px' || marginLeft >= 210) {
      $('#styler-navbar').css('margin-left', '80px');
      
      //Image
      var image = $("#logo-psb img");
      image.attr("src", "{% static 'base/images/gif_psb_dark_only_logo.gif' %}");
      image.attr("width", "50");
      image.attr("height", "50");
      image.css("float", "left");

      //Home link
      var svgWidth = $('#home').attr('width');
      $('#home').attr('width', 24);
      var svgHeight = $('#home').attr('height');
      $('#home').attr('height', 24);
      var svgHome = $('#home');
      svgHome.css("float", "left");
      svgHome.css("margin-bottom", "20px");
      $('#nav-home span').text('');
      $('#nav-home').css('heigth', '24px');
      
      //Dashboard Utente
      var svgWidth = $('#dashboard-utente').attr('width');
      $('#dashboard-utente').attr('width', 24);
      var svgHeight = $('#dashboard-utente').attr('height');
      $('#dashboard-utente').attr('height', 24);
      var svgUtente = $('#dashboard-utente');
      $("#nav-dashboard").removeClass("active");
      svgUtente.css("float", "left");
      svgUtente.css("margin-bottom", "20px");
      $('#nav-dashboard span').text('');

      //Dashboard Responsabili
      var svgWidth = $('#dashboard-responsabili').attr('width');
      $('#dashboard-responsabili').attr('width', 24);
      var svgHeight = $('#dashboard-responsabili').attr('height');
      $('#dashboard-responsabili').attr('height', 24);
      var svgResponsabili = $('#dashboard-responsabili');
      $("#nav-capi_area").removeClass("active");
      svgResponsabili.css("float", "left");
      svgResponsabili.css("margin-bottom", "20px");
      $('#nav-capi_area span').text('');

      //Reception
      var svgWidth = $('#reception').attr('width');
      $('#reception').attr('width', 24);
      var svgHeight = $('#reception').attr('height');
      $('#reception').attr('height', 24);
      var svgReception = $('#reception');
      $("#nav-reception").removeClass("active");
      svgReception.css("float", "left");
      svgReception.css("margin-bottom", "20px");
      $('#nav-reception span').text('');

      //Gestione
      var svgWidth = $('#gestione').attr('width');
      $('#gestione').attr('width', 24);
      var svgHeight = $('#gestione').attr('height');
      $('#gestione').attr('height', 24);
      var svgGestione = $('#gestione');
      $("#nav-gestione").removeClass("active");
      svgGestione.css("float", "left");
      svgGestione.css("margin-bottom", "20px");
      $('#nav-gestione span').text('');

      //Registrazione
      var svgWidth = $('#registrazione').attr('width');
      $('#registrazione').attr('width', 24);
      var svgHeight = $('#registrazione').attr('height');
      $('#registrazione').attr('height', 24);
      var svgRegistrazione = $('#registrazione');
      $("#nav-registrazione").removeClass("active");
      svgRegistrazione.css("float", "left");
      svgGestione.css("margin-bottom", "20px");
      $('#nav-registrazione span').text('');

      //Utente
      var svgWidth = $('#utente').attr('width');
      $('#utente').attr('width', 24);
      var svgHeight = $('#utente').attr('height');
      $('#utente').attr('height', 24);
      var svgUtente = $('#utente');
      $("#utente").removeClass("active");
      svgUtente.css("float", "left");
      $('#dropdownUser2 span').text('');
    }
    else {
      $('#styler-navbar').css('margin-left', '210px');

      //Image
      var image = $("#logo-psb img");
      image.attr("src", "{% static 'base/images/gif_psb_dark.gif' %}");
      image.attr("width", "160");
      image.attr("height", "50");
      image.css("float", "");

      //Home link
      var svgWidth = $('#home').attr('width');
      $('#home').attr('width', 16);
      var svgHeight = $('#home').attr('height');
      $('#home').attr('height', 16);
      var svgHome = $('#home');
      svgHome.css("float", "");
      svgHome.css("margin-bottom", "");
      $('#nav-home span').text('Home');
      
      //Dashboard Utente
      var svgWidth = $('#dashboard-utente').attr('width');
      $('#dashboard-utente').attr('width', 16);
      var svgHeight = $('#dashboard-utente').attr('height');
      $('#dashboard-utente').attr('height', 16);
      var svgUtente = $('#dashboard-utente');
      $("#nav-dashboard").removeClass("active");
      svgUtente.css("float", "");
      svgUtente.css("margin-bottom", "");
      $('#nav-dashboard span').text('Dashboard Utente');

      //Dashboard Responsabili
      var svgWidth = $('#dashboard-responsabili').attr('width');
      $('#dashboard-responsabili').attr('width', 16);
      var svgHeight = $('#dashboard-responsabili').attr('height');
      $('#dashboard-responsabili').attr('height', 16);
      var svgHReponsabili = $('#dashboard-responsabili');
      $("#nav-capi_area").removeClass("active");
      svgHReponsabili.css("float", "");
      svgHReponsabili.css("margin-bottom", "");
      $('#nav-capi_area span').text('Responsabili');

      //Reception
      var svgWidth = $('#reception').attr('width');
      $('#reception').attr('width', 16);
      var svgHeight = $('#reception').attr('height');
      $('#reception').attr('height', 16);
      var svgReception = $('#reception');
      $("#nav-reception").removeClass("active");
      svgReception.css("float", "");
      svgReception.css("margin-bottom", "");
      $('#nav-reception span').text('Reception');

      //Gestione
      var svgWidth = $('#gestione').attr('width');
      $('#gestione').attr('width', 16);
      var svgHeight = $('#gestione').attr('height');
      $('#gestione').attr('height', 16);
      var svgGestione = $('#gestione');
      $("#nav-gestione").removeClass("active");
      svgGestione.css("float", "");
      svgGestione.css("margin-bottom", "");
      $('#nav-gestione span').text('Gestione');

      //Registrazione
      var svgWidth = $('#registrazione').attr('width');
      $('#registrazione').attr('width', 16);
      var svgHeight = $('#registrazione').attr('height');
      $('#registrazione').attr('height', 16);
      var svgRegistrazione = $('#registrazione');
      $("#nav-registrazione").removeClass("active");
      svgRegistrazione.css("float", "");
      svgRegistrazione.css("margin-bottom", "");
      $('#nav-registrazione span').text('Registrazione');

      //Utente
      var svgWidth = $('#utente').attr('width');
      $('#utente').attr('width', 16);
      var svgHeight = $('#utente').attr('height');
      $('#utente').attr('height', 16);
      var svgUtente = $('#utente');
      $("#utente").removeClass("active");
      svgUtente.css("float", "");
      $('#dropdownUser2 span').text('{{user.username}}');
      $(document).ready(function() {
        $('#dropdownUser2 span').html(function() {
          return '<strong>' + '&ensp;' + $(this).text( ) + '</strong>';
        });
      });

    }
  });

  // Add event listener to the window resize event
  $(window).resize(function() {
    // If the window width is less than 768 pixels (Bootstrap's breakpoint for small devices),
    // add the "hidden" class to the sidebar, otherwise remove it
    
    if ($(window).width() < 768) {
      //$("#sidebarnav").addClass("hidden");
      $('#styler-navbar').css('margin-left', '80px');
      $("#sidebarnav").addClass("fifty-px");

      //Image
      var image = $("#logo-psb img");
      image.attr("src", "{% static 'base/images/gif_psb_dark_only_logo.gif' %}");
      image.attr("width", "50");
      image.attr("height", "50");
      image.css("float", "left");

      //Home link
      var svgWidth = $('#home').attr('width');
      $('#home').attr('width', 24);
      var svgHeight = $('#home').attr('height');
      $('#home').attr('height', 24);
      var svgHome = $('#home');
      svgHome.css("float", "left");
      svgHome.css("margin-bottom", "20px");
      $('#nav-home span').text('');
      
      //Dashboard Utente
      var svgWidth = $('#dashboard-utente').attr('width');
      $('#dashboard-utente').attr('width', 24);
      var svgHeight = $('#dashboard-utente').attr('height');
      $('#dashboard-utente').attr('height', 24);
      var svgUtente = $('#dashboard-utente');
      $("#nav-dashboard").removeClass("active");
      svgUtente.css("float", "left");
      svgUtente.css("margin-bottom", "20px");
      $('#nav-dashboard span').text('');

      //Dashboard Responsabili
      var svgWidth = $('#dashboard-responsabili').attr('width');
      $('#dashboard-responsabili').attr('width', 24);
      var svgHeight = $('#dashboard-responsabili').attr('height');
      $('#dashboard-responsabili').attr('height', 24);
      var svgResponsabili = $('#dashboard-responsabili');
      $("#nav-capi_area").removeClass("active");
      svgResponsabili.css("float", "left");
      svgResponsabili.css("margin-bottom", "20px");
      $('#nav-capi_area span').text('');

      //Reception
      var svgWidth = $('#reception').attr('width');
      $('#reception').attr('width', 24);
      var svgHeight = $('#reception').attr('height');
      $('#reception').attr('height', 24);
      var svgReception = $('#reception');
      $("#nav-reception").removeClass("active");
      svgReception.css("float", "left");
      svgReception.css("margin-bottom", "20px");
      $('#nav-reception span').text('');

      //Gestione
      var svgWidth = $('#gestione').attr('width');
      $('#gestione').attr('width', 24);
      var svgHeight = $('#gestione').attr('height');
      $('#gestione').attr('height', 24);
      var svgGestione = $('#gestione');
      $("#nav-gestione").removeClass("active");
      svgGestione.css("float", "left");
      svgGestione.css("margin-bottom", "20px");
      $('#nav-gestione span').text('');

      //Registrazione
      var svgWidth = $('#registrazione').attr('width');
      $('#registrazione').attr('width', 24);
      var svgHeight = $('#registrazione').attr('height');
      $('#registrazione').attr('height', 24);
      var svgRegistrazione = $('#registrazione');
      $("#nav-registrazione").removeClass("active");
      svgRegistrazione.css("float", "left");
      svgGestione.css("margin-bottom", "20px");
      $('#nav-registrazione span').text('');

      //Utente
      var svgWidth = $('#utente').attr('width');
      $('#utente').attr('width', 24);
      var svgHeight = $('#utente').attr('height');
      $('#utente').attr('height', 24);
      var svgUtente = $('#utente');
      $("#utente").removeClass("active");
      svgUtente.css("float", "left");
      $('#dropdownUser2 span').text('');
    }
    else {
      //$("#sidebarnav").removeClass("hidden");
      $('#styler-navbar').css('margin-left', '210px');
      $("#sidebarnav").removeClass("fifty-px");

      //Image
      var image = $("#logo-psb img");
      image.attr("src", "{% static 'base/images/gif_psb_dark.gif' %}");
      image.attr("width", "160");
      image.attr("height", "50");
      image.css("float", "");

      //Home link
      var svgWidth = $('#home').attr('width');
      $('#home').attr('width', 16);
      var svgHeight = $('#home').attr('height');
      $('#home').attr('height', 16);
      var svgHome = $('#home');
      svgHome.css("float", "");
      svgHome.css("margin-bottom", "");
      $('#nav-home span').text('Home');
      
      //Dashboard Utente
      var svgWidth = $('#dashboard-utente').attr('width');
      $('#dashboard-utente').attr('width', 16);
      var svgHeight = $('#dashboard-utente').attr('height');
      $('#dashboard-utente').attr('height', 16);
      var svgUtente = $('#dashboard-utente');
      $("#nav-dashboard").removeClass("active");
      svgUtente.css("float", "");
      svgUtente.css("margin-bottom", "");
      $('#nav-dashboard span').text('Dashboard Utente');

      //Dashboard Responsabili
      var svgWidth = $('#dashboard-responsabili').attr('width');
      $('#dashboard-responsabili').attr('width', 16);
      var svgHeight = $('#dashboard-responsabili').attr('height');
      $('#dashboard-responsabili').attr('height', 16);
      var svgHReponsabili = $('#dashboard-responsabili');
      $("#nav-capi_area").removeClass("active");
      svgHReponsabili.css("float", "");
      svgHReponsabili.css("margin-bottom", "");
      $('#nav-capi_area span').text('Responsabili');

      //Reception
      var svgWidth = $('#reception').attr('width');
      $('#reception').attr('width', 16);
      var svgHeight = $('#reception').attr('height');
      $('#reception').attr('height', 16);
      var svgReception = $('#reception');
      $("#nav-reception").removeClass("active");
      svgReception.css("float", "");
      svgReception.css("margin-bottom", "");
      $('#nav-reception span').text('Reception');

      //Gestione
      var svgWidth = $('#gestione').attr('width');
      $('#gestione').attr('width', 16);
      var svgHeight = $('#gestione').attr('height');
      $('#gestione').attr('height', 16);
      var svgGestione = $('#gestione');
      $("#nav-gestione").removeClass("active");
      svgGestione.css("float", "");
      svgGestione.css("margin-bottom", "");
      $('#nav-gestione span').text('Gestione');

      //Registrazione
      var svgWidth = $('#registrazione').attr('width');
      $('#registrazione').attr('width', 16);
      var svgHeight = $('#registrazione').attr('height');
      $('#registrazione').attr('height', 16);
      var svgRegistrazione = $('#registrazione');
      $("#nav-registrazione").removeClass("active");
      svgRegistrazione.css("float", "");
      svgRegistrazione.css("margin-bottom", "");
      $('#nav-registrazione span').text('Registrazione');

      //Utente
      var svgWidth = $('#utente').attr('width');
      $('#utente').attr('width', 16);
      var svgHeight = $('#utente').attr('height');
      $('#utente').attr('height', 16);
      var svgUtente = $('#utente');
      $("#utente").removeClass("active");
      svgUtente.css("float", "");
      $('#dropdownUser2 span').text('{{user.username}}');

      $(document).ready(function() {
        $('#dropdownUser2 span').html(function() {
          return '<strong>' + '&ensp;' + $(this).text( ) + '</strong>';
        });
      });
    }
  });
});

</script>

</body>
</html>
