<!-- Modal -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Crea Dirigente</h2>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" aria-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'gestione:aggiungi_dirigente' %}">
        <div class="modal-body">
          {% csrf_token %}
        <!-- Form -->
          {{form.as_p}}
        <!-- End form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancella</button>
          <button type="submit" class="btn btn-primary" style="background-color: #d50000 !important; border-color: #d50000 !important;" value="Conferma">Salva</button>
        </div>
      </form>
    </div>
</div>

