{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<title>{% block title%}Capo Area{% endblock %}</title>
<link rel="stylesheet" href="{% static 'gestione/css/style.css' %}">
<script src="{% static 'gestione/js/script.js' %}"></script>

<div class="container2">
    <div class="header-bar2">
    <div>
        <a class="white-style" href="{% url 'gestione:capi_area' %}">&#8592;Torna alla lista</a>
        <h3 style="margin-top:20px;">Crea Capo Area</h3>
    </div>
</div>

<div class="card-body">
<form method="POST" action="">
    {%csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success" type="submit" value="Conferma">Crea</button>
</form>
</div>
</div>


{% endblock content%}
