{% extends 'base/main.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<title>{% block title%}Anagrafica Dipendente{% endblock %}</title>
<link rel="stylesheet" href="{% static 'gestione/css/style.css' %}">
<script src="{% static 'gestione/js/script.js' %}"></script>

<div class="container">
    <div class="header-bar2">
    <div>
        <a class="white-style" href="{% url 'gestione:dipendenti' %}">&#8592;Torna alla lista</a>
        <h3 style="margin-top:20px;">Crea Dipendente</h3>
    </div>
</div>

<div class="card-body">
<form method="POST" action="">
    {%csrf_token %}
    <div class="row">
        <div class="col-3">{{form.cognome |as_crispy_field}}</div>
        <div class="col-3">{{form.nome |as_crispy_field}}</div>
        <div class="col-3">{{form.codice_fiscale |as_crispy_field}}</div>
        <div class="col-2">{{form.sesso |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-3">{{form.asl |as_crispy_field}}</div>
        <div class="col-2">{{form.provincia_nascita |as_crispy_field}}</div>
        <div class="col-4">{{form.luogo_nascita |as_crispy_field}}</div>
        <div class="col-3">{{form.data_nascita |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-2">{{form.provincia_domicilio |as_crispy_field}}</div>
        <div class="col-3">{{form.citta_domicilio |as_crispy_field}}</div>
        <div class="col-3">{{form.cap_domicilio |as_crispy_field}}</div>
        <div class="col-4">{{form.indirizzo_domicilio |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-2">{{form.provincia_residenza |as_crispy_field}}</div>
        <div class="col-3">{{form.citta_residenza |as_crispy_field}}</div>
        <div class="col-3">{{form.cap_residenza |as_crispy_field}}</div>
        <div class="col-4">{{form.indirizzo_residenza |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-2">{{form.cellulare |as_crispy_field}}</div>
        <div class="col-3">{{form.cell_alternativo |as_crispy_field}}</div>
        <div class="col-3">{{form.email_pers |as_crispy_field}}</div>
        <div class="col-4">{{form.email_lav |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-4">{{form.iban |as_crispy_field}}</div>
        <div class="col-4">{{form.p_iva |as_crispy_field}}</div>
        <div class="col-3">{{form.stato |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-2">{{form.societa |as_crispy_field}}</div>
        <div class="col-3">{{form.sede |as_crispy_field}}</div>
        <div class="col-3">{{form.area |as_crispy_field}}</div>
        <div class="col-2">{{form.data_inizio_rap |as_crispy_field}}</div>
        <div class="col-2">{{form.data_fine_rap |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <div class="row">
        <div class="col-2">{{form.istruzione |as_crispy_field}}</div>
        <div class="col-3">{{form.tipo_contratto |as_crispy_field}}</div>
        <div class="col-3">{{form.mansione |as_crispy_field}}</div>
        <div class="col-3">{{form.note |as_crispy_field}}</div>
    </div>
    <hr style="solid:border 1px #007bff; margin-top: 15px;">
    <input class="btn btn-primary" type="submit" value="Conferma">
</form>
</div>
</div>


{% endblock content%}
