<!-- Modal -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Elimina Area {{area.nome_area|title}}</h2>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" aria-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'gestione:delete-area' area.pk %}">
        <div class="modal-body">
          {% csrf_token %}
        <!-- Form -->
          {{form.as_p}}
          <p>Si &#233; certi di voler <strong>rimuovere</strong> {{area.nome_area|title}}</p>
        <!-- End form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancella</button>
          <button type="submit" class="btn btn-danger" value="Conferma">Elimina</button>
        </div>
      </form>
    </div>
</div>

