{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<title>{% block title%}Tipo di Mansione{% endblock %}</title>
<link rel="stylesheet" href="{% static 'gestione/css/style.css' %}">
<script src="{% static 'gestione/js/script.js' %}"></script>

<section style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:268px;">
    <header class="p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 text-dark"></li>            
            <li class="nav-link px-2 text-dark">Buon lavoro, {{user.first_name}}</li> 
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="{% url 'gestione:lista-mansioni' %}" value="{{mansione.id_mansione}}">
            {% csrf_token %}
            <input type="search" id="mansioni-input" name="mansione" class="form-control form-control-dark" value="{{mansione.nome_mansione}}" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-success">Cerca</button>
            <a href="/lista-mansioni-excel/?mansioni=" id="mansione-anchor"><button type="button" class="btn btn-warning">Scarica</button></a>
        </div>
</header>
</section>

<section style="margin-left:300px; margin-top:25px;">
    <div class="cartaBox">

            <div class="carta-table-reception">
                <div>
                    <div class="numbers">{{mansioni|length}}</div>
                    <div class="no-hover">
                    <table class="table table-striped table-hover caption-top">
                        <caption>Lista Mansioni</caption>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <td> Tipo Mansione</td>
                            <td> Note</td>
                        </tr>
                        </thead>
                        <tbody>
                            {% for mansione in mansioni %}
                            <tr>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-plus-square-fill"></i>
                                        </a>
                                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                            <li><a class="dropdown-item" onclick="open_modal_create_Mansione('{% url 'gestione:aggiungi-tipo-di-mansione'%}')">Crea Nuovo</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" onclick="open_modal_update_Mansione('{% url 'gestione:modifica-mansione' mansione.id_mansione %}')">Modifica</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <td>{{mansione.tipo_mansione|title}}</td>
                                <td class="ellipsis">{% if mansione.note %}{{mansione.note}}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="iconBox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                        <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                    </svg>
                </div>
                </a>
            </div>
    </div>    
</section>

<div class="modal fade" id="modificaTipodiMansioneModal" role="dialog" tabindex="-1"></div>

<div class="modal fade" id="creaTipodiMansioneModal" role="dialog" tabindex="-1"></div>

<script>
    var $ = jQuery.noConflict();
function open_modal_update_Mansione(url){
    $('#modificaTipodiMansioneModal').load(url,function(){
    $(this).modal('show'); 
    });
};

var $ = jQuery.noConflict();
function open_modal_create_Mansione(url){
    $('#creaTipodiMansioneModal').load(url,function(){
    $(this).modal('show'); 
    });
};
</script>
    
{% endblock content %}
