{% extends 'base/main.html' %}
{% load static %}

{% block content %}


<title>{% block title%}Permessi in corso{% endblock %}</title>
<link rel="stylesheet" href="{% static 'gestione/css/style.css' %}">
<script src="{% static 'gestione/js/script.js' %}"></script>

<div class="mini-container">
  <div class="mini-header-bar">
      <h1>Totali</h1>
  </div>

  <table class="table table-striped table-hover">
  <thead>
    <tr>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">In permesso:</th>
      <td>{{in_permesso}}</td>
    </tr>
    <tr>
      <th scope="row">Rientranti:</th>
      <td>{{rientranti}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
    </tr>
  </tbody>
    </table>
</div>

<div class="container" >
<div class="header-bar2 row">
    <div class="col-md-auto"><h1>Richieste Accettate, {{data}}</h1></div>
    <div class="col-md-auto"><form method="POST">
        {%  csrf_token %}
        <input style="height:3rem; width:10rem;" type="date" name="search-area">
        <input class="button-reception-search" type="submit" value="Cerca">
    </form></div>
</div>

</div>

<div class= "container">

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Dipendente</th>
        <th scope="col">Area</th>
        <th scope="col">Responsabile</th>
        <th scope="col">Permesso</th>
        <th scope="col">Inizio</th>
        <th scope="col">Ritorno</th>
        <th scope="col">Orario</th>
        <th scope="col">Urgente</th>
    </tr>
    </thead>
    <tbody>
        {% for richiesta in richieste %}
      <tr>
        <th scope="row">{{richiesta.id_richieste.nominativo}}</th>
        <td>{{richiesta.id_richieste.id_dipendente_richiesta.area}}</td>
        <td>{{richiesta.id_capoarea_richieste.nomecompleto}}</td>
        <td><button type="button" onclick="open_modal_conferma_richieste_accettate('{% url 'gestione:conferma-richieste-accettate' richiesta.pk %}')" class="btn btn-success">
            {% if richiesta.id_richieste.id_permessi_richieste %} {{richiesta.id_richieste.id_permessi_richieste|title}} {% else %} Permesso Orario {% endif %}
          </button></td>
        <td>{{richiesta.data_inizio_permesso|date:"j N Y"}}</td>
        <td>{% if richiesta.data_fine_permesso %}{{richiesta.data_fine_permesso|date:"j N Y"}} {% else %} -- {% endif %}</td>
        <td>{% if richiesta.ora_inizio_permesso %}da {{richiesta.ora_inizio_permesso|time:"H:i"}} a {{richiesta.ora_fine_permesso|time:"H:i"}} {% else %} -- {% endif %}</td>
        <td>{% if richiesta.urgente %} Si {% else %} No {% endif %}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <div class="header-bar2b">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="white-style" href="?page=1">&laquo; Prima pagina</a>
        <a class="white-style" href="?page={{page_obj.previous_num_pages}}">precedente</a>
        {% endif %}
        Pagina {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        {% if page_obj.has_next %}
        <a class="white-style" href="?page={{page_obj.next_page_number}}">prossima</a>
        <a class="white-style" href="?page={{page_obj.paginator.num_pages}}">ultima pagina&raquo;</a>
        {% endif %}
    {% endif %}
</div>
</div>

<div class="space">
</div>

<div class="modal fade" id="confermaRichiesteAccettateModal" role="dialog" tabindex="-1">
</div>

<script>

var $ = jQuery.noConflict();
function open_modal_conferma_richieste_accettate(url){
    $('#confermaRichiesteAccettateModal').load(url,function(){
    $(this).modal('show'); 
    });
};
</script>

{% endblock %}