{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<title>{% block title%}Societ&#224;{% endblock %}</title>
<link rel="stylesheet" href="{% static 'gestione/css/style.css' %}">
<script src="{% static 'gestione/js/script.js' %}"></script>

<section style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-left:268px;">
    <header class="p-3 bg-light text-black">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 text-dark"></li>            
            <li class="nav-link px-2 text-dark">Buon lavoro, {{user.first_name}}</li> 
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="{% url 'gestione:societa' %}" value="{{societa.id_societa}}">
            {% csrf_token %}
            <input type="search" id="societa-input" name="societa" class="form-control form-control-dark" value="{{societa.nome_societa}}" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-success">Cerca</button>
            <a href="/lista-societa-excel/?societa=" id="societa-anchor"><button type="button" class="btn btn-warning">Scarica</button></a>
        </div>
</header>
</section>

<section style="margin-left:300px; margin-top:25px;">
    <div class="cartaBox">
            <div class="carta-table-reception">
                <div>
                    <div class="numbers">{{societas|length}}</div>
                    <div class="no-hover">
                    <table class="table table-striped table-hover caption-top">
                        <caption>Lista Societ&#224;</caption>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <td> Societ&#224; </td>
                            <td> Note </td>
                        </tr>
                        </thead>
                        <tbody>
                            {% for societa in societas %}
                            <tr>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-plus-square-fill"></i>
                                        </a>
                                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                            <li><a class="dropdown-item" oonclick="open_modal_create_societa('{% url 'gestione:crea-nuova-societa'%}')">Crea Nuovo</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" onclick="open_modal_update_societa('{% url 'gestione:modifica-societa' societa.id_societa %}')">Modifica</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <td>{{societa.nome_societa|title}}</td>
                                <td class="ellipsis">{% if societa.note %}{{societa.note}}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="iconBox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                        <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"/>
                    </svg>
                </div>
            </div>
    </div>    
</section>

<div class="modal fade" id="modificaSocietaModal" role="dialog" tabindex="-1">
</div>

<div class="modal fade" id="creaSocietaModal" role="dialog" tabindex="-1">
</div>

<script>
    var $ = jQuery.noConflict();
function open_modal_update_societa(url){
    $('#modificaSocietaModal').load(url,function(){
    $(this).modal('show'); 
    });
};

var $ = jQuery.noConflict();
function open_modal_create_societa(url){
    $('#creaSocietaModal').load(url,function(){
    $(this).modal('show'); 
    });
};
</script>
    
{% endblock content %}
